plantiq-integration/src/main/mule/plantiq-main.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
      xmlns:secure-properties="http://www.mulesoft.org/schema/mule/secure-properties"
      xsi:schemaLocation="
        http://www.mulesoft.org/schema/mule/core                    http://www.mulesoft.org/schema/mule/core/current/mule.xsd
        http://www.mulesoft.org/schema/mule/salesforce              http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
        http://www.mulesoft.org/schema/mule/http                    http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
        http://www.mulesoft.org/schema/mule/ee/core                 http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
        http://www.mulesoft.org/schema/mule/secure-properties       http://www.mulesoft.org/schema/mule/secure-properties/current/mule-secure-properties.xsd">

    <!-- =========================================================
         GLOBAL CONFIGURATIONS
    ========================================================== -->

    <!-- Salesforce connector — OAuth2 JWT Bearer flow (no username-password flow required) -->
    <salesforce:sfdc-config name="Salesforce_Config">
        <salesforce:jwt-connection
            consumerKey="${secure::salesforce.consumerKey}"
            keyStore="${salesforce.keystore.path}"
            storePassword="${secure::salesforce.keystore.password}"
            certificateAlias="${salesforce.keystore.alias}"
            principal="${salesforce.username}"
            tokenEndpoint="${salesforce.tokenEndpoint}"/>
    </salesforce:sfdc-config>

    <!-- HTTP listener for incoming trigger (Salesforce Flow → MuleSoft or curl) -->
    <http:listener-config name="PlantIQ_HTTP_Trigger_Config">
        <http:listener-connection host="${http.listener.host}" port="${http.listener.port}"/>
    </http:listener-config>

    <!-- HTTP connector for Salesforce REST (Einstein LLM + Platform Events) -->
    <http:request-config name="Salesforce_HTTP_Config" basePath="/services/data/v62.0">
        <http:request-connection host="${salesforce.instance}" protocol="HTTPS" port="443"/>
    </http:request-config>

    <!-- HTTP connector for Salesforce login endpoint (token retrieval) -->
    <http:request-config name="Salesforce_Login_HTTP_Config">
        <http:request-connection host="login.salesforce.com" protocol="HTTPS" port="443"/>
    </http:request-config>

    <!-- HTTP connector for Slack webhook -->
    <http:request-config name="Slack_HTTP_Config">
        <http:request-connection host="${slack.webhook.host}" protocol="HTTPS" port="443"/>
    </http:request-config>

    <!-- =========================================================
         MAIN FLOW: Subscribe to Platform Event → Orchestrate
    ========================================================== -->

    <secure-properties:config name="Secure_Properties_Config"
        file="application.properties"
        key="${secure.key}"
        doc:name="Secure Properties Config">
        <secure-properties:encrypt algorithm="AES" mode="CBC"/>
    </secure-properties:config>
	<flow name="plantiq-recommendation-flow">

        <!-- HTTP trigger: POST /plantiq/recommend
             Body: { "targetId": "...", "plantCode": "...", "shopName": "...", "quarter": "..." }
             Triggered by Salesforce Flow (Named Credential) or curl during demo -->
        <http:listener config-ref="PlantIQ_HTTP_Trigger_Config" path="/plantiq/recommend" allowedMethods="POST"/>

        <logger level="INFO"
            message="#['[PlantIQ] HTTP trigger received — Target ID: ' ++ payload.targetId]"/>

        <!-- Store fields from the JSON request body -->
        <set-variable variableName="targetId"
            value="#[payload.targetId]"/>
        <set-variable variableName="plantCode"
            value="#[payload.plantCode]"/>
        <set-variable variableName="shopName"
            value="#[payload.shopName]"/>
        <set-variable variableName="quarter"
            value="#[payload.quarter]"/>

        <!-- AgentFabric: start audit run -->
        <flow-ref name="agentfabric-audit-start-subflow"/>

        <!-- STEP 1: Retrieve full plant context from Salesforce -->
        <flow-ref name="retrieve-plant-context-subflow"/>
        <set-variable variableName="plantContext" value="#[payload]"/>

        <!-- STEP 2: Match Idea Library records for the signal type -->
        <flow-ref name="match-idea-library-subflow"/>
        <set-variable variableName="matchedIdeas" value="#[payload]"/>

        <!-- STEP 3: Score benchmarks using DataWeave transform -->
        <flow-ref name="score-benchmarks-subflow"/>
        <set-variable variableName="scoredIdeas" value="#[payload]"/>

        <!-- STEP 4: Call Einstein LLM via Salesforce REST API -->
        <flow-ref name="call-einstein-llm-subflow"/>
        <set-variable variableName="recommendation" value="#[payload]"/>

        <!-- STEP 5: Create Productivity Idea record in Salesforce -->
        <flow-ref name="create-productivity-idea-subflow"/>
        <set-variable variableName="ideaId" value="#[payload.id]"/>

        <!-- STEP 6: Post to Slack -->
        <flow-ref name="post-to-slack-subflow"/>

        <!-- AgentFabric: end audit run -->
        <flow-ref name="agentfabric-audit-end-subflow"/>

        <logger level="INFO"
            message="#['[PlantIQ] Orchestration complete — Idea ID: ' ++ vars.ideaId]"/>

        <!-- Return success response to caller -->
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    status: "ok",
    ideaId: vars.ideaId,
    targetId: vars.targetId
}]]></ee:set-payload>
            </ee:message>
            <ee:variables>
                <ee:set-variable variableName="httpStatus"><![CDATA[%dw 2.0
output application/java
---
200]]></ee:set-variable>
            </ee:variables>
        </ee:transform>

        <error-handler>
            <on-error-continue type="ANY">
                <flow-ref name="agentfabric-audit-error-subflow"/>
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    status: "error",
    errorType: error.errorType.identifier,
    message: error.description default "unknown",
    targetId: vars.targetId default "unknown"
}]]></ee:set-payload>
                    </ee:message>
                </ee:transform>
                <logger level="ERROR" message="#[output application/json --- payload]"/>
            </on-error-continue>
        </error-handler>
    </flow>

</mule>
