hq-target-experience-api/src/main/mule/hq-target-experience-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce"
      xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="
        http://www.mulesoft.org/schema/mule/core
            http://www.mulesoft.org/schema/mule/core/current/mule.xsd
        http://www.mulesoft.org/schema/mule/ee/core
            http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
        http://www.mulesoft.org/schema/mule/http
            http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
        http://www.mulesoft.org/schema/mule/salesforce
            http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd">

    <!-- =========================================================
         Global Configurations
    ========================================================== -->

    <configuration-properties
        doc:name="Configuration properties"
        file="config.yaml" />

    <!--
        API Gateway Autodiscovery
        Links this app to API Manager instance 20986802 (Sandbox).
        At runtime, pass: -Danypoint.platform.client_id=<env-client-id>
                          -Danypoint.platform.client_secret=<env-client-secret>
        The api.id property (config.yaml) is read by the Gateway agent on startup.
    -->

    <!-- HTTP Listener -->
    <http:listener-config
        doc:name="HTTP Listener Config"
        name="HQ_Target_HTTP_Config">
        <http:listener-connection
            host="${http.listener.host}"
            port="${http.listener.port}" />
    </http:listener-config>

    <!-- Salesforce — JWT Bearer (same Connected App as edge-signal-process-api) -->
    <salesforce:sfdc-config
        doc:name="Salesforce Config"
        name="Salesforce_Config">
        <salesforce:jwt-connection
            consumerKey="${salesforce.consumerKey}"
            keyStore="${salesforce.keystore.path}"
            storePassword="${salesforce.keystore.password}"
            certificateAlias="${salesforce.keystore.alias}"
            principal="${salesforce.username}"
            tokenEndpoint="${salesforce.tokenEndpoint}" />
    </salesforce:sfdc-config>

    <!-- =========================================================
         POST /hq-targets
         Receives JSON, validates, resolves Plant ID, maps fields,
         inserts GWB_HQ_Target__c, returns 201 + new record ID.
    ========================================================== -->
    <flow name="post-hq-target-flow" doc:name="POST /hq-targets">

        <http:listener
            doc:name="POST /hq-targets"
            config-ref="HQ_Target_HTTP_Config"
            path="/hq-targets"
            allowedMethods="POST">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[{"Content-Type": "application/json"}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:headers><![CDATA[#[{"Content-Type": "application/json"}]]]></http:headers>
            </http:error-response>
        </http:listener>

        <logger
            doc:name="Request received"
            level="INFO"
            message='#["[HQ-Target-API] ▶ POST /hq-targets received | plant=" ++ (payload.plantCode default "?") ++ " | targetFte=" ++ ((payload.targetFte default "?") as String) ++ " | quarter=" ++ (payload.quarter default "?")]' />

        <!-- Stash original JSON — sub-flows replace payload with SOQL results -->
        <set-variable
            doc:name="Stash original request"
            variableName="originalRequest"
            value="#[payload]" />

        <!-- ── STEP 1: Validate required fields ──────────────── -->
        <flow-ref
            doc:name="Validate request"
            name="validate-hq-target-subflow" />

        <!-- ── STEP 2: Resolve GWB_Plant__c.Id by Plant_Code__c ── -->
        <flow-ref
            doc:name="Lookup Plant ID"
            name="lookup-plant-id-subflow" />

        <!-- ── STEP 3: Map JSON → GWB_HQ_Target__c sObject ──── -->
        <ee:transform doc:name="Map request to GWB_HQ_Target__c">
            <ee:message>
                <ee:set-payload><![CDATA[
                    %dw 2.0
                    output application/java

                    var req           = vars.originalRequest
                    var validQuarters = ["Q1 2026", "Q2 2026", "Q3 2026", "Q4 2026"]

                    // Clamp to 1 decimal place
                    fun roundFte(n) =
                        if (n == null) null
                        else ((n * 10) as Number {class: "java.lang.Long"}) / 10.0

                    // Return null for blank strings
                    fun safeText(s) =
                        if (s == null or s == "") null else s

                    // Return null if quarter not in allowed picklist values
                    fun safeQuarter(q) =
                        if (q != null and (validQuarters contains q)) q else null

                    ---
                    [{
                        // Standard Name field
                        Name:                     req.name,

                        // Picklist — validated; null suppresses the field so SF default applies
                        Quarter__c:               safeQuarter(req.quarter default null),

                        // Lookup IDs resolved in prior sub-flows
                        Plant__c:                 vars.plantId,
                        Plant_Shop__c:            req.plantShopId default null,

                        // FTE numbers — clamped to 1 decimal; Gap_To_Target__c is a formula, never set here
                        Target_FTE__c:            roundFte(req.targetFte),
                        Approved_FTE_Coverage__c: roundFte(req.approvedFteCoverage default 0.0),

                        // Free-text context for Agentforce prompt template
                        Production_Context__c:    safeText(req.productionContext default null)
                    }]
                ]]></ee:set-payload>
            </ee:message>
        </ee:transform>

        <logger
            doc:name="Mapped sObject"
            level="INFO"
            message='#["[HQ-Target-API] ✔ Mapped sObject | Name=" ++ (payload[0].Name default "?") ++ " | Plant__c=" ++ (vars.plantId default "?") ++ " | Target_FTE__c=" ++ ((payload[0].Target_FTE__c default 0) as String) ++ " | Quarter__c=" ++ (payload[0].Quarter__c default "null")]' />

        <!-- ── STEP 4: Insert into Salesforce ────────────────── -->
        <salesforce:create
            doc:name="SF Create — GWB_HQ_Target__c"
            config-ref="Salesforce_Config"
            type="GWB_HQ_Target__c" />

        <!-- ── STEP 5: Build 201 response ────────────────────── -->
        <ee:transform doc:name="Build 201 response">
            <ee:message>
                <ee:set-payload><![CDATA[
                    %dw 2.0
                    output application/json
                    ---
                    {
                        id:      payload[0].id,
                        success: payload[0].successful,
                        message: "GWB_HQ_Target__c record created successfully"
                    }
                ]]></ee:set-payload>
            </ee:message>
            <ee:variables>
                <ee:set-variable variableName="httpStatus"><![CDATA[%dw 2.0
output application/java --- 201]]></ee:set-variable>
            </ee:variables>
        </ee:transform>

        <logger
            doc:name="Success"
            level="INFO"
            message='#["[HQ-Target-API] ✅ GWB_HQ_Target__c created successfully | id=" ++ (payload.id default "?") ++ " | plant=" ++ (vars.originalRequest.plantCode default "?") ++ " | targetFte=" ++ ((vars.originalRequest.targetFte default 0) as String) ++ " | quarter=" ++ (vars.originalRequest.quarter default "?")]' />

        <!-- ── Error handler ──────────────────────────────────── -->
        <error-handler>

            <on-error-continue
                doc:name="Validation error → 400"
                type="APP:VALIDATION"
                logException="false">
                <ee:transform doc:name="400 Bad Request">
                    <ee:message>
                        <ee:set-payload><![CDATA[
                            %dw 2.0
                            output application/json
                            ---
                            { code: "BAD_REQUEST", message: error.description }
                        ]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[%dw 2.0
output application/java --- 400]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
                <logger
                    doc:name="400 log"
                    level="WARN"
                    message='#["[HQ-Target-API] ⚠ 400 Bad Request | " ++ error.description]' />
            </on-error-continue>

            <on-error-continue
                doc:name="Plant not found → 404"
                type="APP:NOT_FOUND"
                logException="false">
                <ee:transform doc:name="404 Not Found">
                    <ee:message>
                        <ee:set-payload><![CDATA[
                            %dw 2.0
                            output application/json
                            ---
                            { code: "NOT_FOUND", message: error.description }
                        ]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[%dw 2.0
output application/java --- 404]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
                <logger
                    doc:name="404 log"
                    level="WARN"
                    message='#["[HQ-Target-API] ⚠ 404 Not Found | " ++ error.description]' />
            </on-error-continue>

            <on-error-continue
                doc:name="Any other error → 500"
                type="ANY"
                logException="true">
                <ee:transform doc:name="500 Internal Error">
                    <ee:message>
                        <ee:set-payload><![CDATA[
                            %dw 2.0
                            output application/json
                            ---
                            {
                                code:    "INTERNAL_ERROR",
                                message: error.description default "Unexpected server error"
                            }
                        ]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[%dw 2.0
output application/java --- 500]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
                <logger
                    doc:name="500 log"
                    level="ERROR"
                    message='#["[HQ-Target-API] ❌ 500 Internal Error | " ++ (error.description default "unknown") ++ " | plant=" ++ (vars.originalRequest.plantCode default "?")]' />
            </on-error-continue>

        </error-handler>

    </flow>

    <!-- =========================================================
         SUB-FLOW: Validate required fields
         Input:  vars.originalRequest
         Raises: APP:VALIDATION with all error messages joined
    ========================================================== -->
    <sub-flow name="validate-hq-target-subflow" doc:name="Validate HQ Target request">

        <ee:transform doc:name="Run validation checks">
            <ee:message>
                <ee:set-payload><![CDATA[
                    %dw 2.0
                    output application/java

                    var req   = vars.originalRequest
                    var valid = ["Q1 2026", "Q2 2026", "Q3 2026", "Q4 2026"]

                    var errors = [
                        if (req.name    == null or req.name    == "") "name is required"           else null,
                        if (req.plantCode == null or req.plantCode == "") "plantCode is required"  else null,
                        if (req.targetFte == null)                  "targetFte is required"        else null,
                        if (req.targetFte != null and req.targetFte <= 0) "targetFte must be > 0"  else null,
                        if (req.quarter != null and not (valid contains req.quarter))
                            ("quarter must be one of: " ++ (valid joinBy ", "))                    else null,
                        if (req.approvedFteCoverage != null and req.approvedFteCoverage < 0)
                            "approvedFteCoverage must be >= 0"                                     else null
                    ] filter ($ != null)
                    ---
                    { valid: sizeOf(errors) == 0, errors: errors }
                ]]></ee:set-payload>
            </ee:message>
        </ee:transform>

        <set-variable
            doc:name="Stash validation result"
            variableName="validationResult"
            value="#[payload]" />

        <!-- Restore original request payload before raising -->
        <set-payload
            doc:name="Restore original request"
            value="#[vars.originalRequest]" />

        <choice doc:name="Errors?">
            <when expression="#[vars.validationResult.valid == false]">
                <raise-error
                    doc:name="Raise APP:VALIDATION"
                    type="APP:VALIDATION"
                    description="#[vars.validationResult.errors joinBy ' | ']" />
            </when>
        </choice>

        <logger
            doc:name="Validation passed"
            level="INFO"
            message='#["[HQ-Target-API] ✔ Validation passed | plant=" ++ (vars.originalRequest.plantCode default "?")]' />

    </sub-flow>

    <!-- =========================================================
         SUB-FLOW: Resolve GWB_Plant__c.Id from Plant_Code__c
         Input:  vars.originalRequest
         Output: vars.plantId (String)
         Raises: APP:NOT_FOUND if plant not found or inactive
    ========================================================== -->
    <sub-flow name="lookup-plant-id-subflow" doc:name="Lookup GWB_Plant__c by Plant_Code__c">

        <set-variable
            doc:name="Set plantCode"
            variableName="plantCode"
            value="#[vars.originalRequest.plantCode]" />

        <salesforce:query
            doc:name="SOQL — GWB_Plant__c by Plant_Code__c"
            config-ref="Salesforce_Config">
            <salesforce:salesforce-query><![CDATA[
                SELECT Id, Name
                FROM   GWB_Plant__c
                WHERE  Plant_Code__c = ':plantCode'
                AND    Active__c     = true
                LIMIT  1
            ]]></salesforce:salesforce-query>
            <salesforce:parameters><![CDATA[#[{ plantCode: vars.plantCode }]]]></salesforce:parameters>
        </salesforce:query>

        <choice doc:name="Plant found?">
            <when expression="#[sizeOf(payload) == 0]">
                <raise-error
                    doc:name="Raise APP:NOT_FOUND"
                    type="APP:NOT_FOUND"
                    description="#['Plant with code \'' ++ vars.plantCode ++ '\' not found or is inactive in Salesforce']" />
            </when>
        </choice>

        <set-variable
            doc:name="Set plantId"
            variableName="plantId"
            value="#[payload[0].Id]" />

        <!-- Restore original request -->
        <set-payload
            doc:name="Restore original request"
            value="#[vars.originalRequest]" />

        <logger
            doc:name="Plant resolved"
            level="INFO"
            message='#["[HQ-Target-API] ✔ Plant resolved | code=" ++ vars.plantCode ++ " → id=" ++ vars.plantId]' />

    </sub-flow>

    <!-- =========================================================
         GET /health — liveness probe (no auth required)
    ========================================================== -->
    <flow name="health-check-flow" doc:name="GET /health">

        <http:listener
            doc:name="GET /health"
            config-ref="HQ_Target_HTTP_Config"
            path="/health"
            allowedMethods="GET" />

        <ee:transform doc:name="Health response">
            <ee:message>
                <ee:set-payload><![CDATA[
                    %dw 2.0
                    output application/json
                    ---
                    { status: "ok", version: "1.0.0", apiId: "20986802" }
                ]]></ee:set-payload>
            </ee:message>
        </ee:transform>

    </flow>

</mule>
