force-app-gwb-source-code/Salesforce_GWB-main/force-app/main/default/flows/Create_Initiative.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <constants>
        <name>Temporary</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Temporary</stringValue>
        </value>
    </constants>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <dynamicChoiceSets>
        <name>Base_Supp_Picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Headcount_Type__c</picklistField>
        <picklistObject>Initiative__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Classification_Picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Classification__c</picklistField>
        <picklistObject>Initiative__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Drivers_Picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Driver__c</picklistField>
        <picklistObject>Initiative__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Initiative_Type_Picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Initiative_Type__c</picklistField>
        <picklistObject>Initiative__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Region_Picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Region__c</picklistField>
        <picklistObject>Initiative__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Status_Picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Status__c</picklistField>
        <picklistObject>Initiative__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Create Initiative {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Initiative</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Initiative_Record_Create</name>
        <label>Initiative_Record_Create</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Classification__c</field>
            <value>
                <elementReference>Classification</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>Initiate_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Driver__c</field>
            <value>
                <elementReference>Driver</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Effective_Date__c</field>
            <value>
                <elementReference>Effective_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>End_Date__c</field>
            <value>
                <elementReference>End_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Exclude_From_GWB__c</field>
            <value>
                <elementReference>Exclude_from_GWB</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Headcount_Type__c</field>
            <value>
                <elementReference>Base</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Notes__c</field>
            <value>
                <elementReference>Notes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Plant__c</field>
            <value>
                <elementReference>Plant_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Position_Adjustment__c</field>
            <value>
                <elementReference>Position_Adjustment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Region__c</field>
            <value>
                <elementReference>Plant_Region</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shop_Manager_View__c</field>
            <value>
                <elementReference>Shop</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <elementReference>Initiative_Status</elementReference>
            </value>
        </inputAssignments>
        <object>Initiative__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <screens>
        <name>Create_Initiative</name>
        <label>New Initiative</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Cancel</backButtonLabel>
        <connector>
            <targetReference>Initiative_Record_Create</targetReference>
        </connector>
        <fields>
            <name>Initiate_Description</name>
            <fieldText>Initiative Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <validationRule>
                <errorMessage>&lt;p&gt;This description exceeds the required length. Please shorten it to under 255 characters.&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Initiate_Description}) &lt;= 255</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Notes</name>
            <fieldText>Notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;This Notes exceeds the required length. Please shorten it to under 255 characters.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Notes})&lt;=255</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Plant_Inputs</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Plant_Name</elementReference>
            </defaultValue>
            <fieldText>Plant</fieldText>
            <fieldType>InputField</fieldType>
            <isDisabled>
                <booleanValue>true</booleanValue>
            </isDisabled>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>6</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Shop_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Shop</elementReference>
            </defaultValue>
            <fieldText>Shop</fieldText>
            <fieldType>InputField</fieldType>
            <isDisabled>
                <booleanValue>true</booleanValue>
            </isDisabled>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>6</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Initiative_Status</name>
            <choiceReferences>Status_Picklist</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>Approved</stringValue>
            </defaultValue>
            <fieldText>Initiative Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>6</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Base</name>
            <choiceReferences>Base_Supp_Picklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Base/SUPP</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>6</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Classification</name>
            <choiceReferences>Classification_Picklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Classification</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>6</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Driver</name>
            <choiceReferences>Drivers_Picklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Driver</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>6</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Initiative_Type</name>
            <choiceReferences>Initiative_Type_Picklist</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>Permanent</stringValue>
            </defaultValue>
            <fieldText>Initiative Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isDisabled>
                <booleanValue>true</booleanValue>
            </isDisabled>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>6</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Exclude_from_GWB</name>
            <dataType>Boolean</dataType>
            <fieldText>Exclude from GWB</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>middle</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>6</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Effective_Date</name>
            <dataType>Date</dataType>
            <fieldText>Effective Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>6</stringValue>
                </width>
            </styleProperties>
            <validationRule>
                <errorMessage>&lt;p&gt;Effective Date should be earlier than End Date.&lt;/p&gt;</errorMessage>
                <formulaExpression>IF(
ISBLANK({!End_Date}),
TRUE,
IF(
ISBLANK({!Effective_Date}),
TRUE,
{!Effective_Date}&lt;={!End_Date}
)
)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Position_Adjustment</name>
            <dataType>Number</dataType>
            <fieldText>Position Adjustment</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>6</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>End_Date</name>
            <dataType>Date</dataType>
            <fieldText>End Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>6</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Initiative_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Temporary</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Initiative</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Initiative_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Initiative__c</objectType>
    </variables>
    <variables>
        <name>Plant_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Plant_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Plant_Names</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Plant_Region</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Shop</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
