force-app-gwb-source-code/Salesforce_GWB-main/force-app/main/default/flows/GWB_Vacation_Coverage_Before_Operations.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Auth_Region_From_Plant</name>
        <label>Assign Auth Region From Plant</label>
        <locationX>308</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.Auth_Region__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Plant__r.Auth_Region__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Bypass_Flow</name>
        <label>Bypass Flow ?</label>
        <locationX>176</locationX>
        <locationY>287</locationY>
        <defaultConnector>
            <targetReference>Assign_Auth_Region_From_Plant</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Bypass</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.GWB_Switch__c.Bypass_Flows__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>GWB Vacation Coverage Before Operations</description>
    <environments>Default</environments>
    <interviewLabel>GWB Vacation Coverage Before Operations</interviewLabel>
    <label>GWB Vacation Coverage Before Operations</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>GptId</name>
        <value>
            <stringValue>4d1b2821-282a-4865-b97d-a46140204959</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>GptLlmIds</name>
        <value>
            <stringValue>[&quot;b07590a9-279f-459d-b75d-5cd945a73b70&quot;]</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Bypass_Flow</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Plant__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Auth_Region__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>GWB_Vacation_Coverage__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
