force-app-gwb-source-code/Salesforce_GWB-main/force-app/main/default/flows/Initiative_Approver_Screen.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Submit_for_Approval_Action_1</name>
        <label>Submit for Approval Action 1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>Get_Initiative_Record.Id</elementReference>
                <inputConfiguratorMode>Resource</inputConfiguratorMode>
            </value>
        </inputParameters>
        <nameSegment>submit</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Create_Shop_Manager_Set</name>
        <label>Create Shop Manager Set</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ShopManagerViewValues</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Workbook_Records.Shop_Mgr_view__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Workbook_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_User_Set</name>
        <label>Create User Set</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>User_Set</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Plant_Approver.Approver_Name__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Plant_Approver</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Record_Count_Assignment</name>
        <label>Record Count Assignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Record_count</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Workbook_Records</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Eligible_GWB_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Effective_Date</name>
        <label>Set Effective Date</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Effective_Date</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Initiative_Record.Effective_Date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Workbook_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Initiative_Record</name>
        <label>Update Initiative Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Get_Initiative_Record.Approver_1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Approver_1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Initiative_Record.Approver_2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Approver_2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Initiative_Record.Approver_3__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Approver_3</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Initiative_Record.Approver_4__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Approver_4</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Initiative_Record.Current_Pending_Approver__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Approver_1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Initiative_Record.Approval_Step__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Initiative_Record1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>User_Approvers_Assignment</name>
        <label>User Approvers Assignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Lookup_Search_Users</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Plant_Collaborators.User__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Plant_Collaborators</targetReference>
        </connector>
    </assignments>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>Cancel_Requested1</name>
        <label>Cancel Requested</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Update_Initiative_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Cancelled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Cancel_Requested</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Is Cancelled</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Approver_1</name>
        <label>Check Approver 1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Approver_1_is_not_empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Approver_1</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Submit_for_Approval_Action_1</targetReference>
            </connector>
            <label>Approver 1 is not empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Eligible_GWB_Records</name>
        <label>Eligible GWB Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Show_Error_No_Eligible</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Eligible</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Record_count</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Workbook_Records</targetReference>
            </connector>
            <label>Eligible</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Initiative Approver Screen {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Initiative Approver Screen</label>
    <loops>
        <name>Loop_Plant_Approver</name>
        <label>Loop Plant Approver</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Plant_Approvers</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_User_Set</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_User_details</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Plant_Collaborators</name>
        <label>Loop Plant Collaborators</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Plant_Collaborators</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>User_Approvers_Assignment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_User_lookup_records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Workbook_Records</name>
        <label>Loop Workbook Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Workbook_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_Shop_Manager_Set</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Plant_Approvers</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Initiative_Record</name>
        <label>Get Initiative Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Effective_Date</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Initiative__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Plant__c</queriedFields>
        <queriedFields>Effective_Date__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Plant_Approvers</name>
        <label>Get Plant Approvers</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Plant_Approver</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Shop_Manager_View__c</field>
            <operator>In</operator>
            <value>
                <elementReference>ShopManagerViewValues</elementReference>
            </value>
        </filters>
        <filters>
            <field>Auth_Plant_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Initiative_Record.Plant__c</elementReference>
            </value>
        </filters>
        <object>Plant_Approver__c</object>
        <outputReference>Plant_Approvers</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Default_Approver__c</queriedFields>
        <queriedFields>Priority_Index__c</queriedFields>
        <queriedFields>Approver_Name__c</queriedFields>
        <queriedFields>Approver_Title__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Plant_Collaborators</name>
        <label>Get Plant Collaborators</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Plant_Collaborators</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Plant__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Initiative_Record.Plant__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Plant_Collaborator__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>User__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User_details</name>
        <label>Get User details</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Plant_Collaborators</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>User_Set</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputReference>User_Records</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Department</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_User_lookup_records</name>
        <label>Get User lookup records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Approvers_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>Lookup_Search_Users</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Email</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Workbook_Records</name>
        <label>Get Workbook Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Record_Count_Assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Initiative__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Shop_Mgr_view__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Workbook__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Shop_Mgr_view__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Initiative_Record1</name>
        <label>Update Initiative Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Approver_1</targetReference>
        </connector>
        <inputReference>Get_Initiative_Record</inputReference>
    </recordUpdates>
    <screens>
        <name>Approvers_Screen</name>
        <label>Approvers Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Cancel_Requested1</targetReference>
        </connector>
        <fields>
            <name>prodPlanningInitiativeApprovers</name>
            <extensionName>c:prodPlanningInitiativeApprovers</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>effectiveDate</name>
                <value>
                    <elementReference>Effective_Date</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Plant_Approvers</name>
                <value>
                    <elementReference>Plant_Approvers</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>User_Records</name>
                <value>
                    <elementReference>User_Records</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>User_Lookup_Records</name>
                <value>
                    <elementReference>Get_User_lookup_records</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Approver_1</assignToReference>
                <name>Approver_1</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>Approver_2</assignToReference>
                <name>Approver_2</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>Approver_3</assignToReference>
                <name>Approver_3</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>Approver_4</assignToReference>
                <name>Approver_4</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>Cancel_Requested</assignToReference>
                <name>Cancel_Requested</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Show_Error_No_Eligible</name>
        <label>Show Error No Eligible</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_Msg</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;No eligible GWB Function records available to &apos;Report Actuals&apos;.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Cancel</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Initiative_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Approver_1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Approver_2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Approver_3</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Approver_4</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Cancel_Requested</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Effective_Date</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Lookup_Search_Users</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Plant_Approvers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Plant_Approver__c</objectType>
    </variables>
    <variables>
        <name>Record_count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ShopManagerViewValues</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>User_Records</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>User_Set</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
