force-app-gwb-source-code/Salesforce_GWB-main/force-app/main/default/flows/Plant_Collaborator_Access_Process.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Member_To_Insert</name>
        <label>Assign Member To Insert</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varGroupMemberToInsertSingle.GroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varSelectedGroupId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varGroupMemberToInsertSingle.UserOrGroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.User__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varGroupMembersToInsertMultiple</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varGroupMemberToInsertSingle</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_If_Records_Present_For_Delete</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Member_ToInsert</name>
        <label>Assign Member To Insert</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varGroupMemberToInsertSingle.GroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varSelectedGroupId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varGroupMemberToInsertSingle.UserOrGroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.User__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varGroupMembersToInsertMultiple</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varGroupMemberToInsertSingle</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_If_Records_Present_For_Delete</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Read_Only_Group</name>
        <label>Assign Read Only Group</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varSelectedGroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varReadGroupId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GroupFound</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_ReadEdit_Only_Group</name>
        <label>Assign ReadEdit Only Group</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varSelectedGroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varReadEditGroupId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GroupFound</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_To_Delete_Exsting_Member</name>
        <label>Assign To Delete Exsting Member</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varGroupMemberToDeleteMultiple</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Group_Member_Exists</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Assign_Member_To_Insert</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignMemberToInsert</name>
        <label>Assign Member To Insert</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varGroupMemberToInsertSingle.GroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varSelectedGroupId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varGroupMemberToInsertSingle.UserOrGroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.User__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varGroupMembersToInsertMultiple</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varGroupMemberToInsertSingle</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_If_Records_Present_For_Delete</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Member_To_Insert</name>
        <label>Copy 1 of Assign Member To Insert</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varGroupMemberToInsertSingle.GroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varSelectedGroupId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varGroupMemberToInsertSingle.UserOrGroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.User__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varGroupMembersToInsertMultiple</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varGroupMemberToInsertSingle</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_If_Records_Present_For_Delete</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Fetch_Read_Edit_Group_Id</name>
        <label>Fetch Read/Edit Group Id</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varReadEditGroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Groups.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Groups</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Fetch_Read_Group_Id</name>
        <label>Fetch Read Group Id</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varReadGroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Groups.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Groups</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Members_To_Delete</name>
        <label>Members To Delete</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varGroupMembersToDeleteSingle.GroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Group_Member.GroupId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varGroupMembersToDeleteSingle.UserOrGroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.User__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varGroupMembersToDeleteSingle.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Group_Member.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varGroupMemberToDeleteMultiple</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varGroupMembersToDeleteSingle</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_If_Records_Present_For_Delete</targetReference>
        </connector>
    </assignments>
    <customErrors>
        <name>Error_BackupAdmin</name>
        <label>Error BackupAdmin</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <customErrorMessages>
            <errorMessage>Backup admins cannot add Plant Admins on a plant.</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>ErrorMessage</name>
        <label>Error Message</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_If_Plant_Collaborator_is_Deactivated</targetReference>
        </connector>
        <customErrorMessages>
            <errorMessage>A Plant Collaborator already exists for this Plant, User, and Collaborator Type.</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>Show_Error</name>
        <label>Show Error</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Backup_Admin</targetReference>
        </connector>
        <customErrorMessages>
            <errorMessage>You cannot deactivate a collaborator who is Plant Admin, please change the plant admin on Plant Admin field on this record.</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>Backup_Admin</name>
        <label>Backup Admin?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Backup_Admin</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_Backup_Admin.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Collaborator_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Plant Admin</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_BackupAdmin</targetReference>
            </connector>
            <label>Is Backup Admin</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Access_Level</name>
        <label>Check Access Level</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ReadOnly</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Access_Level__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Read only</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Read_Only_Group</targetReference>
            </connector>
            <label>Read Only</label>
        </rules>
        <rules>
            <name>Read_Write</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Access_Level__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Read/Edit</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_ReadEdit_Only_Group</targetReference>
            </connector>
            <label>Read/Write</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Bypass_Flag</name>
        <label>Check Bypass Flag</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Get_Existing_Plant_Collaborator</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Bypass False</defaultConnectorLabel>
        <rules>
            <name>ByPass_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.GWB_Switch__c.Bypass_Flows__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>ByPass True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Bypass_Scheduled</name>
        <label>Check Bypass Scheduled</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Get_Plant</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Bypass False</defaultConnectorLabel>
        <rules>
            <name>BypassTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.GWB_Switch__c.Bypass_Flows__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Bypass True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Group_Type</name>
        <label>Check Group Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Loop_Groups</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Read_Only</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Groups.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>GroupName_R</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fetch_Read_Group_Id</targetReference>
            </connector>
            <label>Read Only</label>
        </rules>
        <rules>
            <name>ReadWrite</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Groups.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>GroupName_RW</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fetch_Read_Edit_Group_Id</targetReference>
            </connector>
            <label>Read/Write</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_Member_Exists</name>
        <label>Check If Member Exists</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Assign_Member_ToInsert</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Do Not Present</defaultConnectorLabel>
        <rules>
            <name>Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Group_Member</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Present</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_Plant_Collaborator_is_Deactivated</name>
        <label>Check If Plant Collaborator is Deactivated</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Check_Backup_Admin</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Deactivated</name>
            <conditionLogic>1 AND 2 AND 6 AND (3 OR 4 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Active__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Active__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Permission.Central_Admin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Permission.Regional_Admin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Permission.Plant_Admin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Collaborator_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Plant Admin</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Show_Error</targetReference>
            </connector>
            <label>Deactivated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_Records_Present_For_Delete</name>
        <label>Check If Records Present For Delete</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Check_If_Records_Present_To_Insert</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Delete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varGroupMemberToDeleteMultiple</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Group_Member</targetReference>
            </connector>
            <label>Delete</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_Records_Present_To_Insert</name>
        <label>Check If Records Present To Insert</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>InsertRecords</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varGroupMembersToInsertMultiple</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Group_Member</targetReference>
            </connector>
            <label>Insert Records</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_IfMemberExists</name>
        <label>Check If Member Exists</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Do Not Present</defaultConnectorLabel>
        <rules>
            <name>Is_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Group_Member</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Members_To_Delete</targetReference>
            </connector>
            <label>Is Present</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckIfMemberExist</name>
        <label>Check If Member Exists</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>AssignMemberToInsert</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Does Not Exist</defaultConnectorLabel>
        <rules>
            <name>Yes_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Group_Member_Exists</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_To_Delete_Exsting_Member</targetReference>
            </connector>
            <label>Yes Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Duplicate_Exists</name>
        <label>Duplicate Exists?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Check_If_Plant_Collaborator_is_Deactivated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Duplicate_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Existing_Plant_Collaborator</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ErrorMessage</targetReference>
            </connector>
            <label>Duplicate Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>GroupFound</name>
        <label>Group Found?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Get_Group_Member</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>TRUE</defaultConnectorLabel>
        <rules>
            <name>FALSE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varSelectedGroupId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>FALSE</label>
        </rules>
    </decisions>
    <decisions>
        <name>Identify_Scenario</name>
        <label>Identify Scenario</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Insert</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CreatedDate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.LastModifiedDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Member_Already_Exist</targetReference>
            </connector>
            <label>Insert</label>
        </rules>
        <rules>
            <name>Access_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Access_Level__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Group_Member_Exists</targetReference>
            </connector>
            <label>Access Changed</label>
        </rules>
        <rules>
            <name>Became_Inactive</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Active__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Active__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_IfMemberExists</targetReference>
            </connector>
            <label>Became Inactive</label>
        </rules>
        <rules>
            <name>Became_Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Active__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Active__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_If_Member_Exists</targetReference>
            </connector>
            <label>Became Active</label>
        </rules>
    </decisions>
    <decisions>
        <name>Member_Already_Exist</name>
        <label>Member Already Exists?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Assign_Member_To_Insert</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Does Not Exist</defaultConnectorLabel>
        <rules>
            <name>Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Group_Member.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Exist</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>GroupName_R</name>
        <dataType>String</dataType>
        <expression>{!Plant_Base_Name} &amp; &quot;_R&quot;</expression>
    </formulas>
    <formulas>
        <name>GroupName_RW</name>
        <dataType>String</dataType>
        <expression>{!Plant_Base_Name} &amp; &quot;_RW&quot;</expression>
    </formulas>
    <formulas>
        <name>Plant_Base_Name</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!Get_Plant.Name}, &quot; &quot;, &quot;_&quot;)</expression>
    </formulas>
    <interviewLabel>Plant Collaborator Access Process {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Plant Collaborator Access Process</label>
    <loops>
        <name>Loop_Groups</name>
        <label>Loop Groups</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Group</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Group_Type</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_Access_Level</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Group_Member</name>
        <label>Create Group Member</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>varGroupMembersToInsertMultiple</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Group_Member</name>
        <label>Delete Group Member</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_If_Records_Present_To_Insert</targetReference>
        </connector>
        <inputReference>varGroupMemberToDeleteMultiple</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Check_Backup_Admin</name>
        <label>Check Backup Admin</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Backup_Admin</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Plant__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Plant__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>User__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Collaborator_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Backup Plant Admin</stringValue>
            </value>
        </filters>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Plant_Collaborator__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Existing_Plant_Collaborator</name>
        <label>Get Existing Plant Collaborator</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Duplicate_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Plant__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Plant__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>User__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.User__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Collaborator_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Collaborator_Type__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Plant_Collaborator__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Group</name>
        <label>Get Group</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Groups</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Regular</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GroupName_R</elementReference>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GroupName_RW</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Group_Member</name>
        <label>Get Group Member</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Identify_Scenario</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varSelectedGroupId</elementReference>
            </value>
        </filters>
        <filters>
            <field>UserOrGroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.User__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>GroupMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Plant</name>
        <label>Get Plant</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Group</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Plant__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Plant__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Group_Member_Exists</name>
        <label>Group Member Exists</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckIfMemberExist</targetReference>
        </connector>
        <filterLogic>(1 OR 2) AND 3</filterLogic>
        <filters>
            <field>GroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varReadGroupId</elementReference>
            </value>
        </filters>
        <filters>
            <field>GroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varReadEditGroupId</elementReference>
            </value>
        </filters>
        <filters>
            <field>UserOrGroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.User__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>GroupMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Bypass_Flag</targetReference>
        </connector>
        <object>Plant_Collaborator__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>Record_is_created_or_Updated</name>
            <connector>
                <targetReference>Check_Bypass_Scheduled</targetReference>
            </connector>
            <label>Record is created or Updated</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>LastModifiedDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varGroupMembersToDeleteSingle</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GroupMember</objectType>
    </variables>
    <variables>
        <name>varGroupMembersToInsertMultiple</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GroupMember</objectType>
    </variables>
    <variables>
        <name>varGroupMemberToDeleteMultiple</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GroupMember</objectType>
    </variables>
    <variables>
        <name>varGroupMemberToInsertSingle</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GroupMember</objectType>
    </variables>
    <variables>
        <name>varReadEditGroupId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varReadGroupId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSelectedGroupId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
