force-app-gwb-source-code/Salesforce_GWB-main/force-app/main/default/flows/Plant_Program_Update_Active_Program_on_Shop.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>assignActiveProgram</name>
        <label>assignActiveProgram</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>activePrograms</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{!program.Program_Product_Index__c};</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>program</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Plant Program - Update Active Program on Shop {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Plant Program - Update Active Program on Shop</label>
    <loops>
        <name>program</name>
        <label>program</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>getAllActiveProgram</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assignActiveProgram</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>updateShop</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getAllActiveProgram</name>
        <label>getAllActiveProgram</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>program</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Auth_Sector1__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Auth_Sector1__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Auth_Plant_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Auth_Plant_Name__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Product_Type__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Shop__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Shop__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Include__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Plant_Program__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Program_Product_Index__c</queriedFields>
        <sortField>Program_Product_Index__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updateShop</name>
        <label>updateShop</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Selected_Programs__c</field>
            <value>
                <elementReference>activePrograms</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Plant_Shop__r</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getAllActiveProgram</targetReference>
        </connector>
        <filterFormula>AND(NOT(ISBLANK({!$Record.Plant_Shop__c})), OR((ISNEW() &amp;&amp; {!$Record.Include__c}), (NOT(ISNEW()) &amp;&amp; ISChanged({!$Record.Include__c}))))</filterFormula>
        <object>Plant_Program__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>activePrograms</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
