force-app-gwb-source-code/Salesforce_GWB-main/force-app/main/default/flows/Plant_Auto_Create_Groups_and_Sharing.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Read_Only_ID</name>
        <label>Assign Read Only ID</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varGroupId_R</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_Groups.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_Groups</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Read_Write_ID</name>
        <label>Assign Read Write ID</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varGroupId_RW</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_Groups.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_Groups</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Share_for_Group_RW</name>
        <label>Share for Group RW</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varSingleShare.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleShare.UserOrGroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varGroupId_RW</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleShare.AccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleShare.RowCause</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RowCauseCollaborator</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colPlantShares</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varSingleShare</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Plant_Share</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ShareforGroupR</name>
        <label>Share for Group R</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varSingleShare.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleShare.UserOrGroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varGroupId_R</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleShare.AccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Read</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleShare.RowCause</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RowCauseCollaborator</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colPlantShares</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varSingleShare</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Share_for_Group_RW</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Stage_Read_Only_Group</name>
        <label>Stage Read Only Group</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varSingleGroup.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GroupName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleGroup.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Regular</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleGroup.DeveloperName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GroupName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varGroupCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varSingleGroup</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Stage_Read_Write_Group</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Stage_Read_Write_Group</name>
        <label>Stage Read Write Group</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varSingleGroup.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GroupName_RW</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleGroup.DeveloperName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GroupName_RW</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleGroup.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Regular</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varGroupCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varSingleGroup</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Group</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>RowCauseCollaborator</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Plant_Collaborator__c</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_If_Non_GPS_Sector_Status</name>
        <label>Check If Non GPS Sector &amp; Status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Non_GPS_Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Auth_Sector__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>GPS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Plant_Sector</targetReference>
            </connector>
            <label>Non GPS &amp; Active</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_Group</name>
        <label>Which Group?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Loop_on_Groups</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Read_Only</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_on_Groups.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>GroupName</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Read_Only_ID</targetReference>
            </connector>
            <label>Read Only</label>
        </rules>
        <rules>
            <name>Read_Write</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_on_Groups.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>GroupName_RW</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Read_Write_ID</targetReference>
            </connector>
            <label>Read Write</label>
        </rules>
    </decisions>
    <description>Creates Plant-specific Public Groups and sharing records with delayed execution, with bypass control via custom setting.</description>
    <environments>Default</environments>
    <formulas>
        <name>GroupName</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!$Record.Name}, &quot; &quot;, &quot;_&quot;) &amp; &quot;_R&quot;</expression>
    </formulas>
    <formulas>
        <name>GroupName_RW</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!$Record.Name}, &quot; &quot;, &quot;_&quot;) &amp; &quot;_RW&quot;</expression>
    </formulas>
    <interviewLabel>Plant - Auto Create Groups and Sharing {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Plant - Auto Create Groups and Sharing</label>
    <loops>
        <name>Loop_on_Groups</name>
        <label>Loop on Groups</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Groups</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Which_Group</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>ShareforGroupR</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Group</name>
        <label>Create Group</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_If_Non_GPS_Sector_Status</targetReference>
        </connector>
        <inputReference>varGroupCollection</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Plant_Sector</name>
        <label>Create Plant Sector</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Active__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Auth_Region__c</field>
            <value>
                <elementReference>$Record.Auth_Region__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Plant__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sector__c</field>
            <value>
                <elementReference>$Record.Auth_Sector__c</elementReference>
            </value>
        </inputAssignments>
        <object>Plant_Sector__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Plant_Share</name>
        <label>Create Plant Share</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>CreatePlant_Collaborator</targetReference>
        </connector>
        <inputReference>colPlantShares</inputReference>
    </recordCreates>
    <recordCreates>
        <name>CreatePlant_Collaborator</name>
        <label>Create Plant Collaborator</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Access_Level__c</field>
            <value>
                <stringValue>Read/Edit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Active__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Collaborator_Type__c</field>
            <value>
                <stringValue>Plant Admin</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Plant__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>User__c</field>
            <value>
                <elementReference>$Record.Plant_Admin__c</elementReference>
            </value>
        </inputAssignments>
        <object>Plant_Collaborator__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Groups</name>
        <label>Get Groups</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_on_Groups</targetReference>
        </connector>
        <filterLogic>(1 OR 2) AND 3</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GroupName</elementReference>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GroupName_RW</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Regular</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Stage_Read_Only_Group</targetReference>
        </connector>
        <filterFormula>{!$Setup.GWB_Switch__c.Bypass_Flows__c} = FALSE</filterFormula>
        <object>Plant__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <name>Create_Shares</name>
            <connector>
                <targetReference>Get_Groups</targetReference>
            </connector>
            <label>Create Shares</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>CreatedDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>colPlantShares</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Plant__Share</objectType>
    </variables>
    <variables>
        <name>varGroupCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Group</objectType>
    </variables>
    <variables>
        <name>varGroupId_R</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varGroupId_RW</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSingleGroup</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Group</objectType>
    </variables>
    <variables>
        <name>varSingleShare</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Plant__Share</objectType>
    </variables>
</Flow>
